
<style type="text/css">
html {
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    background: whitesmoke;
}
.colored-box {
    height: 8em;
    width: 8em;
    display: inline-block;
    margin-right: .75rem;
    border: 1px solid;
    box-shadow: 1px 1px gray;
    opacity: .75;
}
.example {
    border: 1px solid darkgray;
    padding: 2rem 1rem;
    margin: 0;
    box-shadow: 1px 1px lightgray;
    opacity: .75;
    color: #000;
}
.rhs {
    font-size: 1.1rem;
    float: right;
    width: 40vw;
    padding: .5rem 0 1rem 0;
    min-height: 8em;
    margin: 1rem 0;
}
.lhs {
    float:left;
    padding: 0 1em;
}
h2 {
    margin: .5rem 0;
}
hr {
    margin: 1rem auto;
}
</style>
@include('flash::message')
<template>
    <div class="content">
        <section class="content-header">
            <h1 class="pull-left">Right Click</h1>
            <h3 class="pull-left">Local Menu Data: <pre class="example">{{ menuData }}</pre></h3>
        </section>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="row">
                <div
                    v-for="(color, index) in colors"
                    class="colored-box col-md-3"
                    :style="{background: color}"
                    @click="sayColor(color)"
                    @contextmenu.prevent="$refs.ctx.open($event, {color: color, index: index})">
                    {{color}}
                </div>
            </div>
        </div>
        <context-menu id="testingctx" ref="ctx" @ctx-open="onCtxOpen" @ctx-cancel="resetCtxLocals" @ctx-close="onCtxClose">
            <li class="ctx-header">{{menuData.color}}</li>
            <li class="ctx-item">option one</li>
            <li class="ctx-item disabled">option two (disabled)</li>
            <li class="ctx-item" @click="logClick($event, menuData)">add to log</li>
        </context-menu>

        <pre class="example">{{ contextClicks }}</pre>
    </div>
</template>

<script>
    const newMenuData = () => ({ color: null });

    import contextMenu from 'vue-context-menu'
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                books: [],


                error: [],
                /*
                 * Context Menu
                 */
                colors: ['pink', 'lightblue', 'green', 'red', 'turquoise'],
                showCtx: false,
                menuData: newMenuData(),
                contextClicks: []
            };
        },

        components: { contextMenu },

        /**
         * Prepare the component
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component.
             */
            prepareComponent() {
                this.getBooks();
            },

            /**
             * Get all of the books for the user.
             */
            getBooks() {
                axios.get('/api/v1/products')
                        .then(response => {
                            this.books = response.data.data;
                        })
                        .catch(error => {
                            this.error = error;
                        });
            },

            /*
             * Context Menu
             */
            onCtxOpen(locals) {
                console.log('open', locals)
                this.menuData = locals
            },
            onCtxClose(locals) {
                console.log('close', locals)
            },
            resetCtxLocals() {
                this.menuData = newMenuData()
            },
            logClick(e,context) {
                this.contextClicks.push(Object.assign({},this.menuData))
            },
            sayColor(color) {
                /*
                this.$dialog.alert('left click on ' + color)
                .then(function () {
                    console.log('Clicked on proceed')
                });
                */
                this.$dialog.confirm("If you delete this record, it'll be gone forever.", {
                    loader: true 
                })
                .then((dialog) => {
                    setTimeout(() => {
                        console.log('Delete action completed ');
                        dialog.close();
                    }, 2500);

                })
                .catch(() => {
                    console.log('Delete aborted');
                });
            }
        }
    }
</script>
