

@include('flash::message')
<template>
    <div class="content">
        <section class="content-header">
            <h1 class="pull-left">Products</h1>
            <h1 class="pull-right">
               <a class="btn btn-primary pull-right" style="margin-top: -10px;margin-bottom: 5px" @click="showCreateProductForm">Add New</a>
            </h1>
        </section>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-responsive" id="products-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th colspan="3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in products">
                            <td>{{product.name}}</td>
                            <td>
                                <div class='btn-group'>
                                    <a href="#" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-eye-open"></i></a>
                                    <a href="#" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="#" class='btn btn-danger btn-xs'><i class="glyphicon glyphicon-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Create Product Modal -->
        <div class="modal fade" id="modal-create-product" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title">
                            Create Product
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="createForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in createForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Create Product Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>

                                <div class="col-md-7">
                                    <input id="create-product-name" type="text" class="form-control"
                                                                @keyup.enter="store" v-model="createForm.name">

                                    <span class="help-block">
                                        Something your users will recognize and trust.
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" @click="store">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Product Modal -->
        <div class="modal fade" id="modal-edit-product" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title">
                            Edit Product
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="editForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in editForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Edit Product Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>

                                <div class="col-md-7">
                                    <input id="edit-product-name" type="text" class="form-control"
                                                                @keyup.enter="update" v-model="editForm.name">

                                    <span class="help-block">
                                        Something your users will recognize and trust.
                                    </span>
                                </div>
                            </div>

                            <!-- Redirect URL -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Redirect URL</label>

                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="redirect"
                                                    @keyup.enter="update" v-model="editForm.redirect">

                                    <span class="help-block">
                                        Your application's authorization callback URL.
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" @click="update">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                products: [],

                createForm: {
                    errors: [],
                    name: ''
                },

                editForm: {
                    errors: [],
                    name: '',
                    id: ''
                }
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component.
             */
            prepareComponent() {
                this.getProducts();

                $('#modal-create-product').on('shown.bs.modal', () => {
                    $('#create-product-name').focus();
                });

                $('#modal-edit-product').on('shown.bs.modal', () => {
                    $('#edit-product-name').focus();
                });
            },

            /**
             * Get all of the products for the user.
             */
            getProducts() {
                axios.get('/api/v1/products')
                        .then(response => {
                            this.products = response.data.data;
                        });
            },

            /**
             * Show the form for creating new products.
             */
            showCreateProductForm() {
                $('#modal-create-product').modal('show');
            },

            /**
             * Create a new product for the user.
             */
            store() {
                this.persistProduct(
                    'post', '/api/v1/products',
                    this.createForm, '#modal-create-product'
                );
            },

            /**
             * Edit the given products.
             */
            edit(Product) {
                this.editForm.id = product.id;
                this.editForm.name = product.name;
                this.editForm.redirect = product.redirect;

                $('#modal-edit-product').modal('show');
            },

            /**
             * Update the product being edited.
             */
            update() {
                this.persistProduct(
                    'put', '/oauth/products/' + this.editForm.id,
                    this.editForm, '#modal-edit-product'
                );
            },

            /**
             * Persist the product to storage using the given form.
             */
            persistProduct(method, uri, form, modal) {
                form.errors = [];

                axios[method](uri, form)
                    .then(response => {
                        this.getProducts();

                        form.name = '';
                        form.redirect = '';
                        form.errors = [];

                        $(modal).modal('hide');
                    })
                    .catch(error => {
                        if (typeof error.response.data.data === 'object') {
                            form.errors = _.flatten(_.toArray(error.response.data.data));
                        } else {
                            form.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },

            /**
             * Destroy the given product.
             */
            destroy(product) {
                axios.delete('/api/v1/products/' + product.id)
                        .then(response => {
                            this.getProducts();
                        });
            }
        }
    }
</script>
